@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body{
    color: azure;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../img/iloveyou.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
.greetings{
    font-size: 6rem;
    font-weight: 900;
    
}
.greetings > span.greetings{
    animation: glow 1s ease-in-out infinite;
}
@keyframes glow{
    0%, 100%{
        color: #ff5;
        text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
    }
    10%, 90%{
        color: #ff6666;
        text-shadow: none;
    }
}
.greetings > span:nth-child(1){
    animation-delay: .10s ;
}
.greetings > span:nth-child(1){
    animation-delay: .10s ;
}
.greetings > span:nth-child(1){
    animation-delay: .10s;
}
.greetings > span:nth-child(1){
    animation-delay: .10s;
}
.greetings > span:nth-child(1){
    animation-delay: .10s;
}

.description{
    font-size: 20px;
    margin-bottom: 20px;
    color: #ffb3b3;
}

.description > span{
    animation: beat, glow 2.5s ease-in-out infinite;
}
.description > span:nth-child(1){
    animation-delay: .1s ;
}
.description > span:nth-child(2){
    animation-delay: .2s ;
}
.description > span:nth-child(3){
    animation-delay: .3s;
}
.description > span:nth-child(4){
    animation-delay: .4s;
}
.description > span:nth-child(5){
    animation-delay: .5s;
}

.button a{
    text-decoration: none;
    font-size: 1rem;
    color: #ff1a1a;
    background-color: black;
    font-size:20px;
}

@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 1rem;
        font-weight: 500;
        
    }
    .description{
        font-size: 1rem;
    }
    
    .button a{
        font-size: 1rem;
        
    }
}
.greetings{
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}
.greetings > span{
    animation: beat, glow 2.5s ease-in-out infinite;
    
}
@keyframes glow{
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
    }
    10%, 90%{
        color: #ff6666;
        text-shadow: none;
    }
}
.para{
    color: #ff4d4d;
    font-size: 1rem;
}
/* adfadfad */
.love{
    font-size: 2rem;
}
.click{
    animation: glow 4s infinite;
}
p{
    animation: glow 4s infinite;
}

